body {                
    font-family: 'Poppins', sans-serif;    
    flex-direction: column;    
    margin: 0.6rem 1rem 3rem 2rem;
    overflow: hidden;
}

header {    
    display: flex;
    flex-direction: column;    
    align-items: center;    
}

#title {        
    margin: 1rem 0 0 0;
    font: 200 2rem Poppins;    
}

#description {
    text-align: center;    
    font: 200 1rem Poppins;    

}

main {
    display: flex; 
    justify-content: center;
}

main div > article {
    margin-bottom: 2rem;    
}

article {    
    align-self: center;   
    font: 200 1rem Poppins; 

    width: 20rem;
    padding: 0.4rem 2rem 2rem 2rem;
    margin: 0 0.75rem 0 0.75rem;    

    border-top: solid;
    border-width: 0.4rem;
    border-radius: 0.5rem;
    
    box-shadow: 0 1rem 1rem hsl(229, 6%, 66%);
    overflow: hidden;
}

article img {
    margin-left: 16rem;    
}

.supervisor {       
    border-color: hsl(180, 62%, 55%);  
    margin-left: 1rem;    
}

.team-builder {
    border-color: hsl(0, 78%, 62%);
}

.karma {
    border-color: hsl(34, 97%, 64%);
}

.calculator {
    border-color: hsl(212, 86%, 64%);
}

@media (max-width: 1280px) {
    #title {
        font: 200 1.6rem Poppins;
    }

    #description {
        font: 200 0.8rem Poppins;
    }

    main div > article {
        margin-bottom: 1.6rem;    
    }

    article {
        font-size: 0.8rem;

        width: 16rem;
        padding: 0.4rem 2rem 2rem 2rem;
        margin: 0 0.75rem 0 0.75rem; 
    }

    article img {
        width: 3.2rem;
        margin-left: 12.8rem;
    }
} 

@media (max-width: 1017px) {
    article img {
        width: 2.544rem;
        margin-left: 7rem;
    }

    .supervisor img, .calculator img {
        margin-left: 5.5rem;
    }
}

@media (max-width: 885px) {
    body {
        overflow: auto;
    }
    
    main, main div {
        display: flex;
        flex-direction: column;
    }

    .supervisor {
        margin-bottom: 1.6rem;
    }    
}

@media (max-height: 612px) {
    body {
        overflow: auto;
    }
}

@media (max-width: 375px) {
    body {
        margin: 2rem 1rem 3rem 1rem;        
    }

    .supervisor img, .calculator img {
        margin-left: 7rem;
    }
}